USE [master]
GO
/****** Object:  Database [CarDB]    Script Date: 29/06/2025 11:52:35 ******/
CREATE DATABASE [CarDB]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
  EXEC [CarDB].[dbo].[sp_fulltext_database] @action = 'enable';
END
GO
USE [CarDB]
GO
/****** Object:  Table [dbo].[car_information]    Script Date: 29/06/2025 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_information](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[car_description] [varchar](255) NULL,
	[car_name] [varchar](255) NOT NULL,
	[car_renting_price_per_day] [float] NOT NULL,
	[car_status] [varchar](255) NOT NULL,
	[fuel_type] [varchar](255) NULL,
	[number_of_doors] [int] NULL,
	[seating_capacity] [int] NULL,
	[year] [int] NULL,
	[manufacturer_id] [int] NOT NULL,
	[supplier_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturers]    Script Date: 29/06/2025 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturers](
	[manufacturer_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](255) NULL,
	[manufacturer_country] [varchar](255) NULL,
	[manufacturer_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manufacturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_4s8n1r0y1w82vsxxy8231uuw] UNIQUE NONCLUSTERED 
(
	[manufacturer_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 29/06/2025 11:52:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[supplier_address] [varchar](255) NULL,
	[supplier_description] [varchar](255) NULL,
	[supplier_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_e0jqxi3u5oxxh4rrlxy9409bq] UNIQUE NONCLUSTERED 
(
	[supplier_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[car_information]  WITH CHECK ADD  CONSTRAINT [FKgne52jiwxrb2wndb6loxca9ov] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturers] ([manufacturer_id])
GO
ALTER TABLE [dbo].[car_information] CHECK CONSTRAINT [FKgne52jiwxrb2wndb6loxca9ov]
GO
ALTER TABLE [dbo].[car_information]  WITH CHECK ADD  CONSTRAINT [FKp86b92247sc5kxg5pwjwr8dyl] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[car_information] CHECK CONSTRAINT [FKp86b92247sc5kxg5pwjwr8dyl]
GO
ALTER TABLE [dbo].[car_information]  WITH CHECK ADD CHECK  (([car_status]='SUSPENDED' OR [car_status]='MAINTENANCE' OR [car_status]='RENTED' OR [car_status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[car_information]  WITH CHECK ADD CHECK  (([fuel_type]='HYBRID' OR [fuel_type]='ELECTRIC' OR [fuel_type]='DIESEL' OR [fuel_type]='PETROL'))
GO
USE [master]
GO
