USE [master]
GO
/****** Object:  Database [RentingDB]    Script Date: 29/06/2025 11:54:28 ******/
CREATE DATABASE [RentingDB]
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
BEGIN
  EXEC [CarDB].[dbo].[sp_fulltext_database] @action = 'enable';
END
GO
USE [RentingDB]
GO
/****** Object:  Table [dbo].[renting_details]    Script Date: 29/06/2025 11:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[renting_details](
	[renting_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[end_date] [date] NOT NULL,
	[price] [float] NOT NULL,
	[start_date] [date] NOT NULL,
	[renting_transaction_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[renting_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[renting_transactions]    Script Date: 29/06/2025 11:54:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[renting_transactions](
	[renting_transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[renting_date] [date] NOT NULL,
	[renting_status] [varchar](255) NOT NULL,
	[total_price] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[renting_transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[renting_details]  WITH CHECK ADD  CONSTRAINT [FKpu4d7ac47r8g9j4dlwdk5jnnm] FOREIGN KEY([renting_transaction_id])
REFERENCES [dbo].[renting_transactions] ([renting_transaction_id])
GO
ALTER TABLE [dbo].[renting_details] CHECK CONSTRAINT [FKpu4d7ac47r8g9j4dlwdk5jnnm]
GO
ALTER TABLE [dbo].[renting_transactions]  WITH CHECK ADD CHECK  (([renting_status]='COMPLETED' OR [renting_status]='REJECTED' OR [renting_status]='APPROVED' OR [renting_status]='PENDING'))
GO
USE [master]
GO
